.pro-tool {
    width: 100%;
    height: calc(100vh - 60px); // Account for navigation bar
    padding: 0;
    margin: 0;
    background: var(--general-main-1);
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    
    &__container {
        height: 100%;
        width: 100%;
        position: relative;
        margin: 0;
        padding: 0;
    }
    
    &__iframe {
        width: 100%;
        height: 100%;
        border: none;
        background: transparent;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}
